@import "../../global.scss";

.topbar{
    width:100%;
    height: 60px;
    background-color: $maincolor;
    color: $maincolor;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper{
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .logo{
            font-size: 24px;
            font-weight: 600;
            text-decoration: none;
            color: white;
            margin-right: 50px;

        }

    }

}