@import "../../global.scss";

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 28px;
    color: $maincolor;
   
    @include mobile{
      font-size: 18px;
    }
  }

  .wrapper{
    padding-top: 20px;
    padding-bottom: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;     
    
    @include mobile{   
      padding-bottom: 50px;
    }

    .text{
      width: 650px;

      @include mobile{   
        width: 90vw;
      }

      p{
        text-align: justify;
        text-justify: auto;
        font-size: 20px;
        color: $maincolor;
        padding-bottom: 30px;

        @include mobile{
          font-size: 14px;
        }
      }
    }
  }
}
