@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
      padding-left: 0;
    }
    
    .magikarp{
      height: 100px;
      width: 100px;
      padding-bottom: 30px;

      @include mobile{
        height: 70px;
        width: 70px;
        padding-bottom: 20px;
      }

    }

    h1 {
      font-size: 60px;
      margin: 10px 0;
      color: $maincolor;

      @include mobile{
        font-size: 40px;
      }
    }
    h2 {
      font-size: 30px;
      color: $maincolor;
      @include mobile{
        font-size: 20px;
      }
    }
    h3 {
      font-size: 30px;
      color: $maincolor;
      @include mobile{
        font-size: 20px;
      }

      span {
        font-size: inherit;
        color: rgb(255, 0, 51);
      }

      .ityped-cursor {
        animation: blink 1s infinite;
      }

      @keyframes blink {
          50%{
              opacity: 1;
          }
          100%{
              opacity: 0;
          }
      }
    }
  }
  a {
    position: absolute;
    bottom: 10px;
    left: 40%;

    img {
      width: 30px;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
  
  }
  