@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile{
      padding-left: 0;
    }
   
    h2 {
      font-size: 30px;
      color: $maincolor;
      @include mobile{
        font-size: 20px;
      }

      span {
        font-size: inherit;
        color: $maincolor;
      }

      .ityped-cursor {
        animation: blink 1s infinite;
      }

      @keyframes blink {
          50%{
              opacity: 1;
          }
          100%{
              opacity: 0;
          }
      }
    }
  }

  
  }
  