@import "../../global.scss";

.footer{
    width: 100%;
    background-color: $maincolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .credit{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h3{
            font-size: 16px;
            color: white;
            text-align: center;

            @include mobile{
                font-size: 12px;
            }
        }
    }

    .iconList{
        padding-bottom: 50px;

        .icon{
            padding-left: 5px;
            padding-right: 5px;
            height: 45px;
            width: 45px;
            @include mobile{
              width: 30px;
              height: 30px;
            }
        }
    }


}