@import "../../global.scss";

.footer{
    width:100%;
    background-color: $maincolor;
    color: $maincolor;

    .wrapper{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h3{
            font-size: 18px;
            color: white;

            @include mobile{
                font-size: 14px;
            }
        }

    }

}