@import "global.scss";

.app{
    height: 100%;

    .sections{
        width: 100%;
        top: 60px;
        height: auto;
        position: absolute;
        scroll-behavior: smooth;
        scrollbar-width: none;

        .intro{
            width: 100vw;
            height: calc(100vh - 60px);
            scroll-snap-align: start;
        }
        
        .about{
            width: 100vw;
            height: auto;
            scroll-snap-align: start;
        } 
        
        .work{
            width: 100vw;
            height: auto;
            scroll-snap-align: start;
        } 

        .projects{
            width: 100vw;
            height: auto;
            scroll-snap-align: start;
        }

        .skills{
            width: 100vw;
            height: auto;
            scroll-snap-align: start;
        }

        .footer{
            width: 100vw;
            height: auto;
            scroll-snap-align: start;
        } 
    }
}